body{
    margin: 0;
    padding: 0;
}
.bg{
    position: absolute;
    height: 100dvh;
    width: 100vw;
    background-color: rgb(66, 100, 89);
    z-index: -1;
}


.grid{
    /*background-color: rgb(66, 100, 89);*/
    height: 100dvh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    place-content: center;
    user-select: none;
}

.grid-item{
    background-color: rgb(34, 34, 34);
    height: 650px;
    width: 250px;
}
.image-container{
    width: fit-content;
    height: fit-content;
}
img{
    height: 350px;
    width: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h3{
    width: auto;
    height: 25px;
    padding: 0 0 20px 0;
    color: aliceblue;
    text-align: center;
}
p{
    height: 90px;
    color: whitesmoke;
    margin: 0 20px 0 20px;
}

.rate{
    margin-top: 20%;
}
h4{
    text-align: center;
    font-size: 15px;
    color: rgb(189, 189, 0);
    margin-bottom: 5px;
}
.stars{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    column-gap: 5px;
}

svg {
    stroke: gray;
    fill: transparent;
    transition: fill 0.3s, stroke 0.3s;
}

svg:hover,
svg:hover ~ svg{
    fill: gold;
    stroke: gold;
}
